@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap');

@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-family: 'PyeongChangPeace-Bold'; */
  /* font-weight: lighter; */
}

.hide-confetti{
  display: none;
}

.share-btn{
  border: none;
  background-color: none;
}

.share-btn-container{
  max-width: 1024px;
  box-shadow: 5px 2px 5px grey;
}

.screenshot-btn{
  /* width: 100%; */
  text-align: right;
}

.hidden-screenshot-text{
  font-weight: bold;
  margin-bottom: 0;
  opacity: 1;
  transition: all 0.5s;
  background-color: #eee;
  padding: 10px;
}

.PCPfont{
  font-family: 'PyeongChangPeace-Bold';
  /* font-weight: lighter; */
}

.PRfont{
  font-family: 'Pretendard-Regular';
}



